// Spacings variables
$global-spacing:    15px;
$global-spacing-x:  10px;
$global-spacing-y:  $global-spacing;

// Spacing
// 10px, 15px, 20px, 30px, 60px
$global-spacings: (
	xs: $global-spacing - 5,
	sm: $global-spacing,
	md: $global-spacing + 5,
	lg: $global-spacing*2,
	xl: $global-spacing*4
);
